.product-container {
    background-color: #d3e8d2;
    padding: 2%;
    margin: 3%;
    width: 800px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
}

.product-container a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.product-container a:hover {
    color: rgb(4, 88, 42);
}

.create {
    position: fixed;
    z-index: 2;
    right: 5px;
    bottom: 5px;
}

.marketplace-wrapper {
    display: grid;
    align-items: stretch;
}

button{
    background-color: rgb(4, 88, 42);
    color: azure;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    opacity: 0.9;
}