.order {
    background-color: #d3e8d2;
    padding: 2%;
    margin: 3%;
    width: 500px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 5px rgba(8, 7, 16, 0.6);
    font-size: 16px;
}

.order a {
    text-decoration: none;
}

button,
input {
    background-color: rgb(4, 88, 42);
    color: azure;
    border-radius: 4px;
    text-decoration: none;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
}

button:hover,
input:hover {
    background-color: rgba(4, 88, 42, 0.521);
}

.interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
}


select {
    padding: 8px;
    border: 1px solid #000000;
    border-radius: 3px;
    box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 0);
    margin: 0 5px 5px 0;
}

select:focus {
    background-color: rgb(252, 249, 192);
}